.breadcrumb {
  padding: 32px 0;
}

article.container {
  padding: 20px 15px;
  margin-bottom: 32px;
  border: 1px solid #ededed;
}

.list-title h3 {
  font-size: 24px;
  color: #ad9b68;
  margin-bottom: 22px;
  font-weight: 600;
}

.list-content {
  margin-top: 24px;
}

.list-content .list-card {
  padding: 20px 12px;
  border-bottom: 1px solid #ededed;
}

.list-card .card-title {
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  margin: 0 0 5px;
}

.list-card .card-title a {
  color: black;
  font-weight: bolder;
}

.list-card .card-title a:hover {
  text-decoration: underline;
}

.list-card .card-desc {
  color: #666;
  font-size: 14px;
  line-height: 25px;
}

.card-extend {
  margin: 21px 0;
}

.card-extend .card-date {
  display: inline-block;
  font-size: 12px;
  color: #ad9b68;
}

.card-extend .card-more {
  float: right;
  color: #ad9b68;
  font-size: 12px;
  width: 70px;
  height: 21px;
  text-align: center;
  text-decoration: none;
  line-height: 21px;
}
